<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="mocha.css" />
  </head>
  <body>
    <div id="mocha"></div>

    <script src="mocha.js"></script>
    <script src="chai.js"></script>
    <script>
      mocha.ui('bdd');
      mocha.reporter('html');
      mocha.globals('$');
      window.expect = chai.expect;
      window.assert = chai.assert;
    </script>
    <script src="../build/application.js"></script>
    <script>
      // Ember.testing = true;
      App.startRouting = function() {};
    </script>

    <% _.each(files, function(filepath) { %>
    <script src="<%= filepath %>"></script>
    <% }); %>

    <script>
      // If tests run in a real browser
      // Can alternatively do a check on window.PHANTOMJS
      if (navigator.userAgent.indexOf('PhantomJS') < 0) {
          mocha.run();
      }
    </script>
  </body>
</html>